/* TYPOS */
@font-face {
  font-family: karla-regular;
  src:url(../fonts/karla-regular.eot);
  src:url(../fonts/karla-regular.svg);
  src:url(../fonts/karla-regular.ttf);
  src:url(../fonts/karla-regular.woff);
}

@font-face {
  font-family: Futura Bold;
  src:url(../fonts/karla-regular.eot);
  src:url(../fonts/karla-regular.svg);
  src:url(../fonts/karla-regular.ttf);
  src:url(../fonts/karla-regular.woff);
}