vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args
 
border-radius()
  vendor('border-radius', arguments)
 
box-shadow()
  vendor('box-shadow', arguments)
 
transition()
  vendor('transition', arguments)
 
transform()
  vendor('transform', arguments)
 
transform-origin()
  vendor('transform-origin', arguments)

animation()
  vendor('animation', arguments)

transformtranslateX()
  vendor('transformtranslateX', arguments)
  
user-select()
  vendor('user-select', arguments)

box-sizing()
  vendor('box-sizing', arguments)    

appearance()
  vendor('appearance', arguments)

columns()
  vendor('columns', arguments)

background-linear-gradient(startPoint, startColor, startInterval, endColor, endInterval)
  background-image -webkit-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -moz-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -ms-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image -o-linear-gradient(startPoint, startColor startInterval, endColor endInterval)
  background-image linear-gradient(startPoint, startColor startInterval, endColor endInterval)

set-placeholder-style(prop, value) {
  &::-webkit-input-placeholder {
    {prop} value
  }
  &::-moz-input-placeholder {
    {prop} value
  }
}

opacity(n)
  opacity n      
  filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')

set-placeholder-style(prop, value) {
  &::-webkit-input-placeholder {
    {prop} value
  }
  &::-moz-placeholder {
    {prop} value
  }
}

clearfix()
  &:before
  &:after
    content ""
    display table
  &:after
    clear: both
    zoom: 1 if support-for-ie  

@keyframes scrollingText 
  from 
    0%    
    -moz-transform translateX(100%) /* Browser bug fix */
    -webkit-transform translateX(100%) /* Browser bug fix */
    transform translateX(100%)     
  to 
    100%  
    -moz-transform translateX(-100%) /* Browser bug fix */
    -webkit-transform translateX(-100%) /* Browser bug fix */
    transform translateX(-100%) 
  