section(class="container black")
  a(name="01")
  div(class="clientsList")
    p nos clients sont géniaux !
    ul
      li(class="clientsListItem")
        img(src="images/clients_01.png" alt="")
      li(class="clientsListItem")
        img(src="images/clients_02.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_03.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_04.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_05.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_06.png" alt="")
      li(class="clientsListItem")
        img(src="images/clients_07.png" alt="")
      li(class="clientsListItem")
        img(src="images/clients_08.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_09.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_10.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_11.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_12.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_13.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_14.png" alt="")  
      li(class="clientsListItem")
        img(src="images/clients_15.png" alt="")  