section(class="container white")
  div(class="header")
    div(class="logo")
      h1 Studio Zérance
    div(class="menu")
      ul(class="menuContainer") 
        li(class="menuItem") 
          a(href="#01" class="menuItemLink") Nos clients
        li(class="menuItem") 
          a(href="#02" class="menuItemLink") Notre offre
        li(class="menuItem") 
          a(href="#03" class="menuItemLink") Le studio