doctype html
html
  include ./head.jade
  body()
    div(id="wrapper")
      include ./header.jade
      include ./banner.jade
      include ./clientList.jade
      include ./slider.jade
      include ./textLoop.jade  
