section(class="container")
  a(name="02")
  div(class="wrapperSlider")
    div(class="mySlide content")
      div(class="slideItem slide_01")
        div(class="containerSlide")
          h3 Recharge features /
          h4 JOONE
          p - Développement front-end
          p - Features avancées Recharge (paiement récurrent)
          p - Interface analytics sur-mesure
          a(href="#" class="seeMore") 
            span(class="seeMoreLight") <
            span Voir plus
            span(class="seeMoreLight") />

      div(class="slideItem slide_02")
        div(class="containerSlide")
          h3 from scratch
          h4 sea only
          p - Thème sur-mesure
          p - Mise en place d’un système d'abonnement (Recharge)
          p - Conseil et accompagnement
          a(href="#" class="seeMore") 
            span(class="seeMoreLight") <
            span Voir plus
            span(class="seeMoreLight") />