// BANNER
.banner
  height 500px
  text-align center
  padding-top 200px
  p
    margin-bottom 100px
    text-transform uppercase
    font-family karla-regular
    font-size 18px
  h2
    font-size 54px
    font-weight bold
    @media (max-width: 768px)
      font-size 24px
      paddong 0 80px
  span
    padding 0px 20px 20px 10px
    margin-left 10px
    background url("../images/underline.png") no-repeat bottom
    background-size contain
    display inline-block
    &::first-letter
      text-transform uppercase