//HEADER
.header
  max-width 1600px
  margin 0 auto
.menu
  float none
  @media screen and (max-width: 768px)
    display none
.logo
  position absolute
  top 0
  h1
    height 600px
    font-size 26px
    font-weight bold
    padding-left 150px
    background url('../images/logo.png') no-repeat top left
    background-size contain
    padding-top 30px
    width 100px
    text-align left

.menuItem
  display inline-block;
  line-height 6
  padding-right 50px

.menuItemLink
  margin-left 20px
  text-decoration none
  font-weight bold
  font-size 18px
  color #000
  transition 1s
  &:hover
    opacity 0.3
    transition all 1s
    transition all 1s