@import "common/mixins.styl"
@import "common/variables.styl"
@import "common/fonts.styl"
@import "common/reset.styl"
@import "section/banner.styl"
@import "section/clients.styl"
@import "section/header.styl"
@import "section/infiniteText.styl"
@import "section/slider.styl"
global-reset()
html
  width 100%
  height 100%
body
  font-family 'Futura Bold', sans-serif
  
#wrapper
  text-align right
  margin 0 auto
.container
  &.black
    background #000
  &.white
    background #FFF